.main-container {
  display: flex;
  margin-top: 64px;
  align-items: center;
  flex-direction: column;
}

/* 'Login Form' header */
.header {
  color: white;
  background-color: rgb(115, 77, 118);
  min-width: 70%;
  padding-left: 4%;
  border-radius: 5px 5px 0px 0px;
}

.header h5 {
  background-color: inherit;
}

.input-block {
  display: inline-block;
  width: 70%;
  height: 19rem;
  padding-top: 1rem;
  background-color: white;
  border-radius: 0px 0px 5px 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  background: snow;
}

.form-control {
  width: 90%;
  height: 3.5rem;
  background-color: rgb(240, 238, 240);
  padding: 5%;
  margin: 0 auto;
  border: lightgrey;
}
/* Button control */
.btn-container {
  background-color: snow;
  padding-left: 6.5%;
  padding-top: 3%;
}

.signIn-btn {
  border-radius: 5px;
  width: 25%;
  height: 3rem;
  color: snow;
  background-color: rgb(117, 79, 120);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Input icon*/

.form-group span i {
  font-size: 1.5rem;
  background-color: rgb(240, 238, 240);
  color: grey;
  position: relative;
  bottom: 2.5rem;
  left: 12rem;
}

.span {
  background-color: white;
}

/* Responsive */
@media screen and (max-width: 1400px) {
  .form-group span i {
    left: 10rem;
  }
}
@media screen and (max-width: 1200px) {
  .form-group span i {
    left: 8rem;
  }
}
@media screen and (max-width: 1000px) {
  .form-group span i {
    left: 6rem;
  }
}
@media screen and (max-width: 800px) {
  .btn-container {
    text-align: center;
    padding-left: 0%;
    padding-top: 0%;
  }
  .form-group span i {
    left: 4rem;
  }
  .header {
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  .signIn-btn {
    width: 50%;
  }
}
@media screen and (max-width: 550px) {
  .form-group span i {
    left: 2rem;
  }
}
