.btn {
  border-radius: 5px;
  width: 25%;
  height: 3rem;
  color: snow;
  background-color: rgb(117, 79, 120);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.welcome-section {
  text-align: center;
}
