* {
  box-sizing: border-box;
  background-color: rgb(60, 26, 63);
}

.App {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  max-width: 50%;
  margin: 0 auto;
}
